.adherent-page-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.header-back-office {
  padding: 30px;
  margin: 100px 10% 0px;
}

.ficheadherent-back {
  margin: 0px 10%;
  display: flex;
}

.ficheadherent-back h4 {
  font-size: 30px;
  padding-top: 0;
}

.fichegauche {
  width: 66%;
  margin-right: 5%;
  height: fit-content;
}

.fichegauche .couverture {
  height: 200px;
  object-fit: cover;
}

.fichegauche .top-link {
  display: flex;
  height: 100px;
  padding: 0 4%;
  margin-top: 20px;
  max-width: 100%;
}

.fichegauche .card-img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.fichegauche .logo-cont {
  height: 100px;
}

.fichegauche .download-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.fichegauche .download-txt {
  text-align: right;
  font-size: 12px;
  display: block;
  width: 150px;
}

.fichegauche .download-img {
  width: 30px;
  margin: 5px;
}

.fichegauche .blockCard {
  display: flex;
  height: auto;
  padding: 4%;
}

.card-link:hover {
  color: #f7316b;
}

.fichedroite {
  width: 33%;
  margin-top: 200px;
  height: fit-content;
  padding: 0px;
}

.fichedroite .card-img {
  width: 200px;
  height: 200px;
  margin: -110px auto;
  border-radius: 100%;
  object-fit: cover;
  border: lightgrey solid 4px;
  position: relative;
}

.fichedroite .dirigeant {
  margin-top: 150px;
  padding: 4%;
}

.description p a {
  margin-left: 5px;
}

.editable:hover {
  cursor: pointer;
}

.editable::after {
  display: block;
  float: right;
  content: " ";
  background-image: url("/assets/img/pencil.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 22px;
  width: 22px;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.editable-img:hover {
  opacity: 70%;
  cursor: pointer;
}

.button-container {
  padding: 0 30px 10px;
  margin-bottom: 15px;
}

.accordeon-btn {
  padding: 0;
  display: inline-flex;
  width: auto;
  margin: auto;
}

.accordeon-header {
  padding: 0;
  background-color: #ffffff00;
  border-bottom: 0;
}

.accordeon-card {
  border: none;
}

.accordion-input {
  border: 1px solid rgb(175, 173, 173);
  border-radius: 0.25rem;
  padding: 2px;
}

.reseau-container {
  width: 100%;
  display: flex;
  justify-content: left;
}

#facebook,
#twitter,
#linkedin,
#instagram {
  width: 24px;
  margin: 0 15px 15px 0;
}

.modalButtonAdmin {
  background-color: #f7316b;
  border-color: white;
}

.modalButtonAdmin:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: white;
}

.modalButtonAdmin:active {
  color: #fff;
  background-color: #f7316b;
  border-color: white;
}

.modalButtonAdmin:focus {
  color: #fff;
  background-color: #f7316b;
  border-color: white;
}
