.adherentNavContainer {
  width: 100%;
  line-height: 64px;
  position: absolute;
  top: 0;
  position: fixed;
}

.ml-3 {
  margin-left: 10% !important ;
}

.ml-100px {
  margin-left: 10%;
}

.topLogoAdherent {
  height: 64px;
  margin-left: 120px;
}
