.carteAnnuaire {
  height: fit-content;
  width: 100%;
  border: lightgrey solid 2px;
}

.couverture {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.couverture h1 {
  color: white;
  margin: auto;
  position: relative;
  padding-top: 4%;
  font-size: 50px;
}

h1:after {
  content: "";
  height: 1px;
  width: 50%;
  display: block;
  padding-top: 10px;
  border-bottom: 2px solid #f7316b;
  margin-left: 25%;
}

.photoProfil {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  border: white solid 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}

.logo-container {
  height: 100px;
  margin: 75px 30px 10px;
}

.logo-container .logoSociete {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.description {
  padding: 5px 0px;
}

.btn {
  padding: 20px;
}

.paragraph::after {
  content: "  [...]";
}
