.carteAnnuaire {
  height: fit-content;
  width: 100%;
  border: lightgrey solid 2px;
}

.couverture {
  width: auto;
  height: 200px;
  object-fit: initial;
}

.couverture h1 {
  color: white;
  margin: auto;
  position: relative;
  padding-top: 4%;
  font-size: 50px;
}

h1:after {
  content: "";
  height: 1px;
  width: 50%;
  display: block;
  padding-top: 10px;
  border-bottom: 2px solid #f7316b;
  margin-left: 25%;
}

.photoProfil {
  width: 50%;
  height: 30%;
  margin: -125px auto 0;
  border-radius: 100%;
  object-fit: cover;
  border: white solid 5px;
}

.logoSociete {
  max-width: 100%;
  height: 100px;
  margin: 0 10% 0 10%;
}

.description {
  padding: 5px 0px;
}

.btn {
  padding: 20px;
}

.btn-default {
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
  width: 90%;
}

.btn-default:hover {
  color: #fff;
  background-color: #f7316b;
  border: 2px solid #f7316b;
}
