.carteAnnuaire {
  height: fit-content;
  margin-top: 300px;
  margin-left: 200px;
  width: 350px;
  border: lightgrey solid 2px;
}

.couverture {
  width: auto;
  height: 200px;
  object-fit: initial;
}

.photoProfil {
  width: 200px;
  height: 200px;
  margin: -125px auto 0;
  border-radius: 100%;
  object-fit: cover;
  border: white solid 5px;
}

.logoSociete {
  height: 100px;
  margin: 0 10% 0 10%;
}

.description {
  padding: 5px 0px;
}

.btn {
  padding: 20px;
}

.btn-default {
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
  width: 90%;
}

.btn-default:hover {
  color: #fff;
  background-color: #f7316b;
  border: 2px solid #f7316b;
}
