.annuaireContainer {
  margin: 64px 64px;
}

.styleCol {
  padding: 10px;
}

.header {
  background: url(/assets/img/fond_equipe.png) no-repeat center center;
  background-size: cover;
  height: 200px;
  margin-top: 64px;
}

.header h1 {
  color: white;
  margin: auto;
  position: relative;
  padding-top: 4%;
  font-size: 50px;
}

h1:after {
  content: "";
  height: 1px;
  width: 50%;
  display: block;
  padding-top: 10px;
  border-bottom: 2px solid #f7316b;
  margin-left: 25%;
}

.barreRecherche {
  margin: 5% auto 1%;
  width: 25%;
}

.nombreMembres {
  font-weight: 900;
  text-align: center;
  margin-top: 2%;
}
