.containerAdmin {
  margin-top: 64px;
  margin-bottom: 64px;
  border: 2px solid black;
}
.styleColAdminModif {
  height: 64px;
  border-bottom: 1px solid black;
  text-align: center;
}

.styleRowAdminModif {
  height: 64px;
  text-align: center;
}

.lastCol {
  height: 64px;
  text-align: center;
}

.style1 {
  padding: 10px;
}

.headerMembres {
  background: url(/assets/img/fond_equipe.png) no-repeat center center;
  background-size: cover;
  height: 200px;
  margin-top: 80px;
}

.headerMembres h1 {
  color: white;
  margin: auto;
  position: relative;
  padding-top: 4%;
  font-size: 50px;
}

h1:after {
  content: "";
  height: 1px;
  width: 50%;
  display: block;
  padding-top: 10px;
  border-bottom: 2px solid #f7316b;
  margin-left: 25%;
}

.tableau {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.imgModif {
  width: 180px;
  height: auto;
}

.submitAdherent {
  background-color: #f7316b;
  border-color: white;
  margin-bottom: 64px;
}

.submitAdherent:hover {
  background-color: #f7316b;
  border-color: white;
}

.submitAdherent:focus {
  background-color: #f7316b;
  border-color: #f7316b;
  box-shadow: none;
}

.submitAdherent:active {
  background-color: #f7316b !important ;
  border-color: #f7316b !important;
  box-shadow: none;
}

.submitAdherent:not(:disabled):not(.disabled):active:focus {
  background-color: #f7316b !important ;
  border-color: #f7316b !important;
  box-shadow: none;
}

.cardTop {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.cardHeader {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #dee2e0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: white;
}

.boutonAccordeon {
  padding: 0 !important;
  color: black;
  display: inline-flex;
  width: auto;
  margin: auto;
}

.tableBody tr td {
  background-color: #dee2e0;
}

.cardBody {
  background-color: #dee2e0;
  color: black;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
}

.inputModif {
  border: 1px solid grey;
  border-radius: 0.25rem;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.editable::after {
  display: block;
  float: right;
  content: " ";
  background-image: url("/assets/img/pencil.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 22px;
  width: 22px;
  margin-left: 10px;
}

.modalButtonAdmin {
  background-color: #f7316b;
  border-color: white;
}

.modalButtonAdmin:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: white;
}

.modalButtonAdmin:active {
  color: #fff !important;
  background-color: #f7316b !important;
  border-color: white !important;
}

.modalButtonAdmin:focus {
  color: #fff !important;
  background-color: #f7316b !important;
  border-color: white !important;
}
