.annuaireContainerAdmin {
  margin-top: 30px;
  margin-bottom: 64px;
}
.styleCol {
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid black;
  border-bottom: 0px;
  margin: 0%;
  text-align: center;
}

.styleRow {
  margin-left: -12%;
  margin-right: -12%;
  border: 1px solid black;
}

.style1 {
  padding: 10px;
}

.header {
  background: url(/assets/img/fond_equipe.png) no-repeat center center;
  background-size: cover;
  height: 200px;
  margin-top: 64px;
}

.header h1 {
  color: white;
  margin: auto;
  position: relative;
  padding-top: 4%;
  font-size: 50px;
}

h1:after {
  content: "";
  height: 1px;
  width: 50%;
  display: block;
  padding-top: 10px;
  border-bottom: 2px solid #f7316b;
  margin-left: 25%;
}
