.form_container {
  margin: 60px 60px;
}
.form_connexion {
  border: blue 1px solid;
  padding: 5px;
  margin: 10px;
}
.form_profil {
  border: rgb(255, 0, 179) 1px solid;
  padding: 5px;
  margin: 10px;
}
