.center h1 {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 60%;
  margin: 0 20%;
}

.modalButton {
  background-color: #f7316b;
  border-color: white;
}

.modalButton:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: white;
}

.modal-body {
  text-align: center;
}
